<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Gest</display-name>
	<servlet>
		<description>
    	Servlet per il caricamento delle info di connessione</description>
		<display-name>ServiceLoader</display-name>
		<servlet-name>ServiceLoader</servlet-name>
		<servlet-class>com.gestwebapp.servlet.core.ServiceLoader</servlet-class>
		<init-param>
			<description>
    		</description>
			<param-name>DATA_DRIVER</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<description>
    		</description>
    		<param-name>DATA_URL</param-name>
    		<param-value>jdbc:mysql://localhost:3306/bicenter</param-value>
    	</init-param>
    	<init-param>
    		<description>
    		</description>
    		<param-name>DATABASE_DRIVER_mauro</param-name>
    		<param-value>com.mysql.cj.jdbc.Driver</param-value>
    	</init-param>
    	<init-param>
    		<description>
    		</description>
    		<param-name>DATA_URL_mauro</param-name>
    		<param-value>jdbc:mysql://127.0.0.1:3306/bicenter?allowMultiQueries=true&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
    	</init-param>
    	<init-param>
    		<description>
    		</description>
			<param-name>DATA_USERNAME</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<description>
    		</description>
			<param-name>DATA_PASSWORD</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<description>indirizzo del jndi Name</description>
			<param-name>CONTEXT_JNDI_NAME</param-name>
			<param-value>jdbc/gest-db</param-value>
		</init-param>
		<init-param>
			<description>indirizzo del DS</description>
			<param-name>CONTEXT_DS_ENV</param-name>
			<param-value>java:/comp/env</param-value>
		</init-param>
		 <init-param>
    	<!--
    		parametro per scegliere la method connection al database
    		parametri ammessi:
    		[
    			DM= Driver Manager ;
    			DS= Data Source
    		] 
    	-->	
      <description>metodo di connessione richiesta</description>
      <param-name>DATABASE_METHOD</param-name>
      <param-value>DS</param-value>
    </init-param>
	<load-on-startup>1</load-on-startup>
	</servlet>


	<welcome-file-list>
		<welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
